p{
    color: blue;
}
h1{

    font-size: 40px;
}
body{
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}
.orange{
    color: orange;
}
section{
    display:flex;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img{
    width: 100%
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40 px;
    border-radius: 5px;
    background-image: linear-gradient(orange,aqua);
    font-weight: 700;
}
.top-banner{
    background-image: url(cat.jpeg);
    background-repeat: no-repeat;
}
